<div class="auth-container">
    <div class="row auth-main">
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <div class="left-img bg" style="background-image: url(assets/images/pages/bg-01.png);"></div>
        </div>
        <div class="col-sm-6 auth-form-section">
            <div class="form-section">
                <div class="auth-wrapper" align="center">
                    <div><img src="assets/images/favicon.png" width="100" height="100"/></div><br/>
                    <h2 class="welcome-msg">Reset Password </h2>
                    <br/><br/>
                    <form class="validate-form" [formGroup]="fm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>New password</mat-label>
                                    <input matInput formControlName="newPassword" [type]="'password'" required>
                                    <mat-error *ngIf="fm.get('newPassword').hasError('required')">Password is required</mat-error>
                                    <mat-error *ngIf="fm.get('newPassword').hasError('minlength')">Passsword needs to have 6 characters minimum</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Confirm password</mat-label>
                                    <input matInput formControlName="confirmPassword" [type]="'password'" required>
                                    <mat-error *ngIf="fm.get('confirmPassword').hasError('required')">Password is required</mat-error>
                                    <mat-error *ngIf="fm.get('confirmPassword').hasError('confirmedValidator')">Passwords do not match</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <br/>
                        <div class="container-auth-form-btn">
                            <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!fm.valid " type="submit">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
