<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">{{title | translate}}</h4>
                    <br/>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div>
                <div class="card">
                    <div class="body">
                        <form [formGroup]="fg" (submit)="submit(fg.value)">
                            <div class="row">
                                <div class="col-5">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Name' | translate}}</mat-label>
                                        <input matInput formControlName="name" required>
                                        <mat-error *ngIf="fg.get('name').hasError('')">{{'This field is required' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Accronym' | translate}}</mat-label>
                                        <input matInput formControlName="accronym">
                                    </mat-form-field>
                                </div>
                                <div class="col-5">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Parent' | translate}}</mat-label>
                                        <input type="text" matInput [formControl]="parent" [matAutocomplete]="autoParent">
                                        <mat-autocomplete autoActiveFirstOption #autoParent="matAutocomplete" [displayWith]="display">
                                            <mat-option *ngFor="let p of places | async" [value]="p">{{p.fullname}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Text Address' | translate}}</mat-label>
                                        <input matInput formControlName="textAddress">
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Location Address' | translate}}</mat-label>
                                        <input type="text" matInput [formControl]="locationAddress" [matAutocomplete]="autoLoation">
                                        <mat-autocomplete autoActiveFirstOption #autoLoation="matAutocomplete" [displayWith]="display">
                                            <mat-option *ngFor="let l of locations | async" [value]="l">{{l.fullname}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <fieldset>
                                <div class="row">
                                    <legend>{{"Manager" | translate}}</legend>
                                    <ng-container formArrayName="managers" *ngFor="let manager of managers.controls; index as i">
                                        <ng-container [formGroupName]="i">
                                            <!--<div class="col-2">-->
                                                <!--<mat-form-field class="example-full-width mb-3">-->
                                                    <!--<mat-label>-->
                                                        <!--{{"Identifier" | translate}}-->
                                                        <!--<span *ngIf="isIdentifierDuplicated[i]" class="error">{{msg | translate}}</span>-->
                                                    <!--</mat-label>-->
                                                    <!--<input matInput mask="000-000-000-0" formControlName="identifier" required (blur)="check(i, 'identifier')"/>-->
                                                <!--</mat-form-field>-->
                                            <!--</div>-->
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width mb-4">
                                                    <mat-label>{{"Email"| translate}}<span *ngIf="isEmailDuplicated[i]" class="error">{{msg | translate}}</span></mat-label>
                                                    <input matInput formControlName="email" [showMaskTyped]="true" required (blur)="check(i)"/>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width mb-4">
                                                    <mat-label>{{"FirstName" | translate}}</mat-label>
                                                    <input matInput formControlName="firstName" [showMaskTyped]="true" required/>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width mb-3">
                                                    <mat-label>{{"LastName" | translate}}</mat-label>
                                                    <input matInput formControlName="lastName" [showMaskTyped]="true" required/>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-1" *ngIf="managers['controls'][i].status == 'VALID' && i===0 && !msg">
                                                <div class="example-button-row" >
                                                    <button mat-mini-fab color="primary" type="button" (click)="push()">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>

                                                </div>
                                            </div>
                                            <div class="col-1" *ngIf="managers['controls'].length > 1 && (i>0 || managers['controls'][i].status != 'VALID')">
                                                <div class="example-button-row" >
                                                    <button mat-mini-fab color="warn" (click)="pull(i)">
                                                        <mat-icon class="col-white">delete </mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <div class="example-button-row">
                                        <div class="example-button-row">
                                            <button mat-raised-button color="primary" [type]="submit" [disabled]="!fg.valid || msg">{{"Save" | translate}} {{msg}}</button>
                                            <button mat-raised-button color="warn" (click)="back()" tabindex="-1">{{"Cancel" | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
