<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">{{title | translate}}</h4>
                    <br/>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div>
                <div class="card">
                    <div class="body">
                        <form [formGroup]="fg" (submit)="submit(fg.value)">
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Name' | translate}}</mat-label>
                                        <input matInput formControlName="name" required>
                                        <mat-error *ngIf="fg.get('name').hasError('')">{{'This field is required' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Parent' | translate}}</mat-label>
                                        <input type="text" matInput [formControl]="parent" [matAutocomplete]="autoParent">
                                        <mat-autocomplete autoActiveFirstOption #autoParent="matAutocomplete" [displayWith]="display">
                                            <mat-option *ngFor="let p of places | async" [value]="p">{{p.name}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Text Address' | translate}}</mat-label>
                                        <input matInput formControlName="textAddress">
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'Location Address' | translate}}</mat-label>
                                        <input type="text" matInput [formControl]="locationAddress" [matAutocomplete]="autoLoation">
                                        <mat-autocomplete autoActiveFirstOption #autoLoation="matAutocomplete" [displayWith]="display">
                                            <mat-option *ngFor="let l of locations | async" [value]="l">{{l.fullname}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>







                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <div class="example-button-row">
                                        <div class="example-button-row">
                                            <button mat-raised-button color="primary" [type]="submit" [disabled]="!fg.valid">{{"Save" | translate}}</button>
                                            <button mat-raised-button color="warn" (click)="back()" tabindex="-1">{{"Cancel" | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
