.icon {
  position: relative;
  font-size: 120px;
  top: 5px;
  left: 5px;
}

.title {
  font-size: 18px;
  padding-top: 22px;
  font-weight: 600;
}

.corps {
  font-weight: 600;
  padding-left: 2px;
}

.inline {
  display: inline;
  padding-left: 0px;
}

i.new {
  color: red;
}

i.pending {
  color: orange;
}

i.set {
  color: blue;
}

i.ongoing {
  color: yellow;
}

i.completed {
  color: green;
}

i.deprecated {
  color: purple;
}
