.mat-column-actions {
  flex: 0 0 70px !important;
}

.datatable-header-cell {
  font-size: 14px !important;
  font-weight: bold !important;
}

.mat-column-fullname {
  flex: 0 0 15% !important;
}
.mat-column-email {
  flex: 0 0 15% !important;
}

.mat-column-institution {
  flex: 0 0 25% !important;
}
.mat-column-topic {
  flex: 0 0 35% !important;
}

.bg {
  width:70%;
  height: 60%;
  top: 25%;
}

.downlist {
  top: 25px !important;
  right: 3px !important;
  min-width: 200px !important;
}

.error {
  color: red;
}

legend {
  font-size: 0.9rem !important;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.materialTableHeader .header-buttons-left input.search-field {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 25px;
  border: 0;
  height: 45px;
  padding: 8px 8px 8px 50px;
  width: 500px;
  background: #ffffff;
  transition: background 0.2s, width 0.2s;
}
